<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="当前项目" prop="ProjectName">
        <el-input
          v-model="queryParams.projectName"
          @keyup.enter.native="handleQuery"
          readonly
        />
      </el-form-item>
      <br />
      <el-form-item label="模块名称" prop="funtionName">
        <el-input
          v-model="queryParams.funtionName"
          placeholder="请输入模块名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="分类类别" prop="functionTypeId">
        <el-select
          v-model="queryParams.functionTypeId"
          placeholder="分类类别"
          clearable
          style="width: 240px">
          <el-option
            v-for="ftype in functionType"
            :key="ftype.id"
            :label="ftype.functionTypeCode"
            :value="ftype.id"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="是否处理" prop="isHandle">
        <el-select
          v-model="queryParams.isHandle"
          placeholder="处理情况"
          clearable
          style="width: 240px">
          <el-option
                v-for="dict in dict.type.seva_is_handle"
                :key="dict.value"
                :label="dict.label"
                :value="dict.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['sotfwareEvaluation:functionModule:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['sotfwareEvaluation:functionModule:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="info"
          icon="el-icon-upload2"
          size="mini"
          @click="handleImport"
          v-hasPermi="['sotfwareEvaluation:functionModule:import']"
        >导入</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['sotfwareEvaluation:functionModule:export']"
        >导出</el-button>
      </el-col>
      <el-col :span="2.5">
        <el-button
          type="success"
          plain
          icon="el-icon-data-analysis"
          size="mini"
          @click="handleCalculate"
          v-hasPermi="['sotfwareEvaluation:functionModule:calculate']"
        >汇总计算</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="functionModuleList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <!-- <el-table-column label="id" align="center" prop="id" /> -->
      <el-table-column label="模块名称" align="center" prop="funtionName" />
      <el-table-column label="模块内容" align="center" prop="functionDetail"  width="250" show-overflow-tooltip />
      <el-table-column label="分类类别" align="center" prop="functionTypeName" />
      <el-table-column label="是否处理" align="center" prop="isHandle" >
        <template slot-scope="scope">
          <dict-tag :options="dict.type.seva_is_handle" :value="scope.row.isHandle"/>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sotfwareEvaluation:functionModule:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['sotfwareEvaluation:functionModule:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加功能模块对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="模块名称" prop="funtionName">
          <el-input v-model="form.funtionName" placeholder="请输入模块名称" />
        </el-form-item>
        <el-form-item label="模块内容" prop="functionDetail">
          <el-input v-model="form.functionDetail" type="textarea" placeholder="请输入内容" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 修改功能模块对话框 -->
    <el-dialog :title="title" :visible.sync="updateOpen" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="模块名称" prop="funtionName">
          <el-input v-model="form.funtionName" placeholder="请输入模块名称" />
        </el-form-item>
        <el-form-item label="模块内容" prop="functionDetail">
          <el-input v-model="form.functionDetail" type="textarea" placeholder="请输入内容" />
        </el-form-item>
        <el-form-item label="模块类别">
          <el-select v-model="form.functionTypeId" placeholder="请选择分类">
            <el-option
              v-for="ftype in functionType"
              :key="ftype.id"
              :label="ftype.functionTypeCode"
              :value="ftype.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 导入对话框 -->
    <el-dialog :title="upload.title" :visible.sync="upload.open" width="400px">
      <el-upload
    	ref="upload"
    	:limit="1"
    	accept=".xlsx, .xls"
    	:headers="upload.headers"
    	:action="upload.url + '?updateSupport=' + upload.updateSupport"
    	:disabled="upload.isUploading"
    	:on-progress="handleFileUploadProgress"
    	:on-success="handleFileSuccess"
    	:auto-upload="false"
    	drag
      >
    	<i class="el-icon-upload"></i>
    	<div class="el-upload__text">
    	  将文件拖到此处，或
    	  <em>点击上传</em>
    	</div>
    	<div class="el-upload__tip" slot="tip">
    	  <el-checkbox v-model="upload.updateSupport" />是否更新已经存在的用户数据
    	  <el-link type="info" style="font-size:12px" @click="importTemplate">下载模板</el-link>
    	</div>
    	<div class="el-upload__tip" style="color:red" slot="tip">提示：仅允许导入“xls”或“xlsx”格式文件！</div>
      </el-upload>
      <div slot="footer" class="dialog-footer">
    	<el-button type="primary" @click="submitFileForm">确 定</el-button>
    	<el-button @click="upload.open = false">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listFunctionModule, getFunctionModule, delFunctionModule, addFunctionModule, updateFunctionModule, calculate } from "@/api/sotfwareEvaluation/functionModule";
import { listProject, getProject, delProject, addProject, updateProject } from "@/api/sotfwareEvaluation/project";
import { listFunctionType, getFunctionType, delFunctionType, addFunctionType, updateFunctionType } from "@/api/sotfwareEvaluation/functionType";
import { getToken } from "@/utils/auth";
// 导入模板接口importTemplate
import { importTemplate } from "@/api/system/user";


export default {
  name: "FunctionModule",
  dicts: ['seva_is_handle'],
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 功能模块表格数据
      functionModuleList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否显示弹出层
      updateOpen: false,
      // 用户导入参数
      upload: {
        // 是否显示弹出层（用户导入）
        open: false,
        // 弹出层标题（用户导入）
        title: "",
        // 是否禁用上传
        isUploading: false,
        // 是否更新已经存在的用户数据
        updateSupport: 0,
        // 设置上传的请求头部
        headers: { Authorization: "Bearer " + getToken() },
        // 上传的地址
        url: process.env.VUE_APP_BASE_API + "/sotfwareEvaluation/functionModule/importData"
      },
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        projectId: null,
        functionTypeId: null,
        isHandle: null,
        projectName: null,
        funtionName: null
      },
      functionType:{},
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    const projectId = this.$route.params && this.$route.params.projectId;
    this.loading = true;
    if (projectId) {
      this.queryParams.projectId=projectId;
      getProject(projectId).then(response => {
        this.queryParams.projectName = response.data.projectName;
      });
      this.getList();
    }
    var param={
      pageNum: 1,
      pageSize: 100
    };
    listFunctionType(param).then(response => {
      this.functionType = response.rows;
      console.log(this.functionType);
    });
  },
  methods: {
    /** 查询功能模块列表 */
    getList() {
      this.loading = true;
      listFunctionModule(this.queryParams).then(response => {
        this.functionModuleList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.updateOpen = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        funtionName: null,
        functionDetail: null,
        projectId: null,
        functionTypeId: null,
        functionTypeName: null,
        createBy: null,
        createTime: null,
        updateBy: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.form.projectId=this.queryParams.projectId;
      this.open = true;
      this.title = "添加功能模块";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids;
      getFunctionModule(id).then(response => {
        this.form = response.data;
        this.updateOpen = true;
        this.title = "修改功能模块";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updateFunctionModule(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.updateOpen = false;
              this.getList();
            });
          } else {
            addFunctionModule(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除功能模块编号为"' + ids + '"的数据项？').then(function() {
        return delFunctionModule(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('sotfwareEvaluation/functionModule/export', {
        ...this.queryParams
      }, `functionModule_${new Date().getTime()}.xlsx`)
    },
    /** 导入按钮操作 */
    handleImport() {
      this.upload.title = "数据导入";
      this.upload.url = this.upload.url + '/' + this.queryParams.projectId;
      this.upload.open = true;
    },
    /** 汇总计算操作 */
    handleCalculate() {
      calculate(this.queryParams.projectId).then(response => {
        var res = response;
        this.$alert("计算结果: "+ res.result + "万", response.msg );
      });
    },
    /** 下载模板操作 */
    importTemplate() {
      this.download('sotfwareEvaluation/functionModule/importTemplate', {
      }, `template_${new Date().getTime()}.xlsx`)
    },
    // 文件上传中处理
    handleFileUploadProgress(event, file, fileList) {
      this.upload.isUploading = true;
    },
    // 文件上传成功处理
    handleFileSuccess(response, file, fileList) {
      this.upload.open = false;
      this.upload.isUploading = false;
      this.$refs.upload.clearFiles();
      this.$alert(response.msg, "导入结果", { dangerouslyUseHTMLString: true });
      this.getList();
    },
    // 提交上传文件
    submitFileForm() {
      this.$refs.upload.submit();
    }
  }
};
</script>
