<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch">
      <el-form-item label="类型名称" prop="functionTypeName">
        <el-input
          v-model="queryParams.functionTypeName"
          placeholder="请输入类型名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="关键词(内容)描述" prop="functionTypeKey">
        <el-input
          v-model="queryParams.functionTypeKey"
          placeholder="请输入关键字进行搜索"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['sotfwareEvaluation:functionType:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['sotfwareEvaluation:functionType:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['sotfwareEvaluation:functionType:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['sotfwareEvaluation:functionType:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="functionTypeList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <!-- <el-table-column label="id" align="center" prop="id" /> -->
      <el-table-column label="类型编码" align="center" prop="functionTypeCode" />
      <el-table-column label="类型名称" align="center" prop="functionTypeName" />
      <el-table-column label="类型描述" align="center" prop="functionTypeDesc" width="250" show-overflow-tooltip />
      <el-table-column label="类型关键字" align="center" prop="functionTypeKey" width="250" show-overflow-tooltip />
      <el-table-column label="基准工作量" align="center" prop="functionTypeCost" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleSearch(scope.row)"
            v-hasPermi="['sotfwareEvaluation:functionType:detail']"
          >查看详情</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sotfwareEvaluation:functionType:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['sotfwareEvaluation:functionType:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改基线速查表对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="类型编码" prop="functionTypeCode">
          <el-input v-model="form.functionTypeCode" placeholder="请输入类型编码" />
        </el-form-item>
        <el-form-item label="类型名称" prop="functionTypeName">
          <el-input v-model="form.functionTypeName" placeholder="请输入类型名称" />
        </el-form-item>
        <el-form-item label="类型描述" prop="functionTypeDesc">
          <el-input v-model="form.functionTypeDesc" type="textarea" placeholder="请输入内容" />
        </el-form-item>
        <el-form-item label="类型关键字" prop="functionTypeKey">
          <el-input v-model="form.functionTypeKey" type="textarea" placeholder="请输入内容" />
        </el-form-item>
        <el-form-item label="基准工作量" prop="functionTypeCost">
          <el-input v-model="form.functionTypeCost" placeholder="请输入基准工作量" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 查看详情对话框 -->
    <el-dialog :title="title" :visible.sync="searchOpen" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="类型编码" prop="functionTypeCode">
          <el-input v-model="form.functionTypeCode" placeholder="请输入类型编码" readonly />
        </el-form-item>
        <el-form-item label="类型名称" prop="functionTypeName">
          <el-input v-model="form.functionTypeName" placeholder="请输入类型名称" readonly />
        </el-form-item>
        <el-form-item label="类型描述" prop="functionTypeDesc">
          <el-input v-model="form.functionTypeDesc" type="textarea" placeholder="请输入内容" readonly />
        </el-form-item>
        <el-form-item label="类型关键字" prop="functionTypeKey">
          <el-input v-model="form.functionTypeKey" type="textarea" placeholder="请输入内容" readonly />
        </el-form-item>
        <el-form-item label="基准工作量" prop="functionTypeCost">
          <el-input v-model="form.functionTypeCost" placeholder="请输入基准工作量" readonly />
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { listFunctionType, getFunctionType, delFunctionType, addFunctionType, updateFunctionType } from "@/api/sotfwareEvaluation/functionType";

export default {
  name: "FunctionType",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 基线速查表表格数据
      functionTypeList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      searchOpen: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        functionTypeName: null,
        functionTypeKey: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询基线速查表列表 */
    getList() {
      this.loading = true;
      listFunctionType(this.queryParams).then(response => {
        this.functionTypeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        functionTypeCode: null,
        functionTypeName: null,
        functionTypeDesc: null,
        functionTypeKey: null,
        functionTypeCost: null,
        createBy: null,
        createTime: null,
        updateBy: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加基线速查表";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getFunctionType(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改基线速查表";
      });
    },
    /** 查看详情操作 */
    handleSearch(row) {
      this.reset();
      const id = row.id || this.ids
      getFunctionType(id).then(response => {
        this.form = response.data;
        this.searchOpen = true;
        this.title = "查看类别详情";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updateFunctionType(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addFunctionType(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除基线速查表编号为"' + ids + '"的数据项？').then(function() {
        return delFunctionType(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('sotfwareEvaluation/functionType/export', {
        ...this.queryParams
      }, `functionType_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
