<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch">
      <el-form-item label="当前项目" prop="funtionName">
        <el-input
          v-model="queryParams.projectId"
          @keyup.enter.native="handleQuery"
          readonly
        />
      </el-form-item>
    </el-form>
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch">
      <el-form-item label="功能模块名称" prop="funtionName">
        <el-input
          v-model="queryParams.funtionName"
          placeholder="请输入功能模块名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
	    <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['sotfwareEvaluation:function:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="info"
          plain
          icon="el-icon-sort"
          size="mini"
          @click="toggleExpandAll"
        >展开/折叠</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table
      v-if="refreshTable"
      v-loading="loading"
      :data="functionList"
      row-key="id"
      :default-expand-all="isExpandAll"
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <el-table-column label="功能模块名称" align="center" prop="funtionName" width="300px"/>
      <el-table-column label="ILF" align="center" prop="ilf" width="60px"/>
      <el-table-column label="EIF" align="center" prop="eif" width="60px"/>
      <el-table-column label="EI" align="center" prop="ei" width="60px"/>
      <el-table-column label="EO" align="center" prop="eo" width="60px"/>
      <el-table-column label="EQ" align="center" prop="eq" width="60px"/>
      <el-table-column label="应用类型调节因子" align="center" prop="typeFactor" width="100px"/>
      <el-table-column label="重复性调节因子" align="center" prop="repeatFactor" width="100px"/>
      <el-table-column label="应用要求调节因子" align="center" prop="requirementFactor" width="100px"/>
      <el-table-column label="功能点数" align="center" prop="funtionPoint" width="100px"/>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sotfwareEvaluation:function:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-plus"
            @click="handleAdd(scope.row)"
            v-hasPermi="['sotfwareEvaluation:function:add']"
          >新增</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['sotfwareEvaluation:function:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 添加或修改功能模块对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="项目id" prop="parentId">
          <el-input v-model="form.projectId" readonly />
        </el-form-item>
        <el-form-item label="父模块id" prop="parentId">
          <treeselect v-model="form.parentId" :options="functionOptions" :normalizer="normalizer" placeholder="请选择父模块id" />
        </el-form-item>
        <el-form-item label="功能模块名称" prop="funtionName">
          <el-input v-model="form.funtionName" placeholder="请输入功能模块名称" />
        </el-form-item>
        <el-form-item label="功能描述" prop="funtionDetail">
          <el-input v-model="form.funtionDetail" type="textarea" placeholder="请输入内容" />
        </el-form-item>
        <el-form-item label="内部逻辑文件" prop="ilf">
          <el-input v-model="form.ilf" placeholder="请输入内部逻辑文件" />
        </el-form-item>
        <el-form-item label="外部接口文件" prop="eif">
          <el-input v-model="form.eif" placeholder="请输入外部接口文件" />
        </el-form-item>
        <el-form-item label="外部输入" prop="ei">
          <el-input v-model="form.ei" placeholder="请输入外部输入" />
        </el-form-item>
        <el-form-item label="外部输出" prop="eo">
          <el-input v-model="form.eo" placeholder="请输入外部输出" />
        </el-form-item>
        <el-form-item label="外部查询" prop="eq">
          <el-input v-model="form.eq" placeholder="请输入外部查询" />
        </el-form-item>
        <el-form-item label="应用类型调节因子" prop="typeFactor">
          <el-input v-model="form.typeFactor" placeholder="请输入应用类型调节因子" />
        </el-form-item>
        <el-form-item label="重复性调节因子" prop="repeatFactor">
          <el-input v-model="form.repeatFactor" placeholder="请输入重复性调节因子" />
        </el-form-item>
        <el-form-item label="应用要求调节因子" prop="requirementFactor">
          <el-input v-model="form.requirementFactor" placeholder="请输入应用要求调节因子" />
        </el-form-item>
        <el-form-item label="分布式要求因子" prop="distributionFactor">
          <el-input v-model="form.distributionFactor" placeholder="请输入分布式要求因子" />
        </el-form-item>
        <el-form-item label="性能要求因子" prop="performanceFactor">
          <el-input v-model="form.performanceFactor" placeholder="请输入性能要求因子" />
        </el-form-item>
        <el-form-item label="可靠性要求因子" prop="reliabilityFactor">
          <el-input v-model="form.reliabilityFactor" placeholder="请输入可靠性要求因子" />
        </el-form-item>
        <el-form-item label="多重站点适配要求因子" prop="adaptiveFactor">
          <el-input v-model="form.adaptiveFactor" placeholder="请输入多重站点适配要求因子" />
        </el-form-item>
        <el-form-item label="功能点数" prop="funtionPoint">
          <el-input v-model="form.funtionPoint" placeholder="请输入功能点数" />
        </el-form-item>
        <el-form-item label="显示顺序" prop="orderNum">
          <el-input v-model="form.orderNum" placeholder="请输入显示顺序" />
        </el-form-item>
        <el-form-item label="是否为叶节点" prop="isLeaf">
          <el-input v-model="form.isLeaf" placeholder="请输入是否为叶节点" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listFunction, getFunction, delFunction, addFunction, updateFunction } from "@/api/sotfwareEvaluation/function";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

export default {
  name: "Function",
  components: {
    Treeselect
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 显示搜索条件
      showSearch: true,
      // 功能模块表格数据
      functionList: [],
      // 功能模块树选项
      functionOptions: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否展开，默认全部展开
      isExpandAll: true,
      // 重新渲染表格状态
      refreshTable: true,
      // 查询参数
      queryParams: {
        funtionName: null,
        projectId: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    const projectId = this.$route.params && this.$route.params.projectId;
    this.loading = true;
    if (projectId) {
      this.queryParams.projectId=projectId;
      this.getList();
      // getAuthRole(userId).then((response) => {
      //   this.form = response.user;
      //   this.roles = response.roles;
      //   this.total = this.roles.length;
      //   this.$nextTick(() => {
      //     this.roles.forEach((row) => {
      //       if (row.flag) {
      //         this.$refs.table.toggleRowSelection(row);
      //       }
      //     });
      //   });
      //   this.loading = false;
      // });
    }
  },
  methods: {
    /** 查询功能模块列表 */
    getList() {
      this.loading = true;
      listFunction(this.queryParams).then(response => {
        this.functionList = this.handleTree(response.data, "id", "parentId");
        this.loading = false;
      });
    },
    /** 转换功能模块数据结构 */
    normalizer(node) {
      if (node.children && !node.children.length) {
        delete node.children;
      }
      return {
        id: node.id,
        label: node.funtionName,
        children: node.children
      };
    },
	/** 查询功能模块下拉树结构 */
    getTreeselect() {
      listFunction().then(response => {
        this.functionOptions = [];
        const data = { id: 0, funtionName: '顶级节点', children: [] };
        data.children = this.handleTree(response.data, "id", "parentId");
        this.functionOptions.push(data);
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        projectId: null,
        parentId: null,
        ancestors: null,
        funtionName: null,
        funtionDetail: null,
        ilf: null,
        eif: null,
        ei: null,
        eo: null,
        eq: null,
        typeFactor: null,
        repeatFactor: null,
        requirementFactor: null,
        distributionFactor: null,
        performanceFactor: null,
        reliabilityFactor: null,
        adaptiveFactor: null,
        funtionPoint: null,
        orderNum: null,
        isLeaf: null,
        createBy: null,
        createTime: null,
        updateBy: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd(row) {
      this.reset();
      this.getTreeselect();
      if (row != null && row.id) {
        this.form.parentId = row.id;
        this.form.projectId = row.projectId;
      } else {
        this.form.parentId = 0;
       this.form.projectId = this.queryParams.projectId;
      }
      this.open = true;
      this.title = "添加功能模块";
    },
    /** 展开/折叠操作 */
    toggleExpandAll() {
      this.refreshTable = false;
      this.isExpandAll = !this.isExpandAll;
      this.$nextTick(() => {
        this.refreshTable = true;
      });
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      this.getTreeselect();
      if (row != null) {
        this.form.parentId = row.id;
      }
      getFunction(row.id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改功能模块";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updateFunction(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addFunction(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      this.$modal.confirm('是否确认删除功能模块编号为"' + row.id + '"的数据项？').then(function() {
        return delFunction(row.id);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    }
  }
};
</script>
